.nav-link.active {
   border-color: black !important;
   font-weight: bold !important;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.bg-mynav {
  background-color: #2c3e50;
}
