.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px;
}

.nav-link.active {
    font-weight: bold !important;
}

html[data-bs-theme="light"] {
    .nav-link.active {
        border-color: black !important;
    }
}

html[data-bs-theme="dark"] {
    .table-danger {
        --bs-table-color: #ffffff;
        --bs-table-hover-color: #ffffff;
        --bs-table-bg: #9e5b64;
        --bs-table-hover-bg: #af656f;
    }

    .table-warning {
        --bs-table-color: #ffffff;
        --bs-table-hover-color: #ffffff;
        --bs-table-bg: #8c7f53;
        --bs-table-hover-bg: #9c8d5d;
    }
}

button.nav-link {
    color: #83929f;
    white-space: pre;
}

.navbar-bg {
    background-color: #2c3e50;
}

.seasonSelector, .leaderboardSelector {
    width: auto;
    display: inline-block;
}

#kofi-img {
    padding: .2rem !important;
}

figure {
    display: table;
    font-size: .875em;
}

figure img {
    display: block;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

.card-body {
    padding: .8rem !important;
}