<!DOCTYPE html>
<html>
    <head>
        <title>Light The Lamp</title>
    </head>
    <body>
        <h1>If you see this you are a doodoo head ;) ;P</h1>
        <h2>lgrw!</h2>
        <br/>
        #if( $loggedIn )
            <h1>username: <span>$username</span></h1>
        #else
            <h1>You are not logged in</h1>
        #end
        #if( $loggedIn )
            <form action="logout" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        #else
            <p><a href="/login/auth">Login</a></p>
        #end
    </body>
</html>